<!DOCTYPE html>
<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1>Add new message</h1>
    <form method="POST" action="/new">
        <label>Enter your name:
            <input type="text" name="authorName">
        </label>
        <label>Enter the message:
            <textarea name="newMessage" cols="20" rows="10"></textarea>
        </label>
        <button type="submit">Post</button>
    </form>
  </body>
</html>
