<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <% const result = Object.values(messages); %>
    <h1>The Board of Messages</h1>
    <div class="board">
        <ul>
            <% result.forEach((message) => { %>
            <%- include('messages', {message: message}); %>
            <% }); %>
        </ul>
    </div>
    <script>console.log(result)</script>
  </body>
</html>